# Python
__pycache__/
*.py[cod]

# Virtual environments
senv/
venv/
env/

# Django
*.sqlite3
staticfiles/

# Environment
.env

# Aiven certificate
ca.pem

# React
node_modules/
dist/

# VS Code
.vscode/